@{
	ViewData["Title"] = "Destinos";
}
<div class="container">
	<h1>@ViewData["Title"]</h1>
	<div class="row">
		<!--Seção banner esquerdo-->
		<div class="col-sm-2">
			<div>
				<div class="card-deck img-fluid py-2">
					<img class="imgbanner2 rounded" src="https://i.ibb.co/BB6ZNPw/469591-conjo-de-banner-de-viagem-vetor.png" alt="" />
				</div>
				<div class="card-deck img-fluid py-2">
					<img class="imgbanner2 rounded" src="https://i.ibb.co/j5WDn8S/469591-conjunto-de-banner-de-viaadsagem-vetor.png" alt="" />
				</div>
			</div>
		</div>
		<!--Seção contendo os card com zoom-->
		<div class="container col-md-8">
			<hr />
			<h4>COMPRE A SUA VIAGEM:</h4>
			<br />
			<div class="row justify-content-around">
				<div class="col-md-4">
					<div class="gallery_product">
						<a href="#"><img class="imgbanner" src="https://www.praiasdenatal.com.br/wp-content/uploads/2014/08/Natal-RN1.jpg" class="img-responsive"></a>
						<h4 class="title">NATAL</h4>
						<h4 class="textoprecoant">R$ 484</h4>
						<h4 class="textopreconov">R$ 297</h4>
						<div class="card-body">
							<a href="#" id="btn-viagem" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery_product">
						<a href="#"><img class="imgbanner" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/21/4d/46/arraial-d-ajuda-eco-resort.jpg?w=400&h=300&s=1" class="img-responsive"></a>
						<h4 class="title">PORTO SEGURO</h4>
						<h4 class="textoprecoant">R$ 729</h4>
						<h4 class="textopreconov">R$ 675</h4>
						<div class="card-body">
							<a href="#" id="btn-viagem" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery_product">
						<a href="#"><img class="imgbanner" src="https://www.vidadeturista.com/wp-content/uploads/2009/03/recife-pe.jpg" class="img-responsive"></a>
						<h4 class="title">RECIFE</h4>
						<h4 class="textoprecoant">R$ 551</h4>
						<h4 class="textopreconov">R$ 351</h4>
						<div class="card-body">
							<a href="#" id="btn-viagem" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Fim da primeira seção de card-->
	</div>
</div>
