@{
    ViewData["Title"] = "Cliente";
    var clientes = ViewData["clientes"] as List<Cliente>; 
}

<h1>Gerenciamento de Clientes</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Clientes Cadastrados:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th>Situação</th>
                </thead>
                <tbody>
                    @{

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
